# Application Environment
NODE_ENV=development
PORT=3000

# Database Configuration
DB_USERNAME="Your db username. example:root" 
DB_PASSWORD="Password for that username"
DB_NAME=flights
DB_HOST="localhost like 127.0.0.1 or server db url like https://your-db-name.ea-east-1.aws.amazon.com"
